*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    
}

a{
    text-decoration: none;
}

.page-1{
    background-image: url(img/Background.png);
    background-size: cover;
    background-position: center;
}

.secenekler{ 
    justify-content: space-between;
    height: auto;
    display: flex;
    
    
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}

.menu{
    display: flex;
    gap: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
    
}
.menu a{
    color: #18191F;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.menuimage-container{
   display: flex;
   align-items: center;
   gap: 12px;
    
}

.main-1{
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: flex-start;
    

}

.write{
    align-items: center;
    margin-top: 85px;
    
}

.write h1{
    width: 730px;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 98px;
    
}

.write a{
    display: inline-block;
    padding: 12px 32px;
    align-items: center;
    background-color: #8c30f5;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    border-radius: 6px;
    margin-top: 32px;
}

.main-1 img{
    display: inline-block;
    align-items: center;
}

.logo{
    display: flex;
    gap: 64px;
    justify-content: center;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.airbnb{
    width: 90px;
    height: 28px;
}

.hubspot{
    width: 84px;
    height: 24px;
}

.google{
    width: 84px;
    height: 28px;
}

.microsoft{
    width: 122px;
    height: 26px;
}

.walmart{
    width: 111px;
    height: 26px;
}

.fedex{
    width: 80px;
    height: 24px;
}

.page-2{
    margin-top: 64px;
    margin-bottom: 64px;
}

.title{
    width: 540px;
    margin-bottom: 48px;
    
}
.title h1{
    color: #18191F;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
}

.title p{
    line-height: 32px;
    color: #18191F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.boxes{
    display: flex;
     flex-wrap: wrap;
     gap: 30px;
     padding-bottom: 64px;
     justify-content: center;
}

.boxes > div{
    width: 350px;
}

.boxes h2{
    color: #18191F;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
}

.boxesimg{
    display: flex;
    justify-content: center;
}

.boxes p{
    color: #18191F;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.page-3{
    background-color: #d5fafc;
    
}

.page-3-inner{
    display: flex;
    gap: 30px;
    

}

.firstbox{
    width: 50%;
    padding-left: 150px;
    padding-top: 120px;
    margin-bottom: 116px;
}

.realcustomer{
    
}

.realcustomer h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
}

.realcustomer p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 24px;
}

.card-outer{
    padding-left: 120px;
}

.card{
    background-color: #FFF;
    padding: 20px;
}

.card img{
    margin: 32px;
}

.firstp{
    color: #18191F;
    font-size: 18px;
    font-style: normal;
    line-height: 32px;
    padding-left: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.hubspotlogo2{
    width: 140px;
    height: 40px;
}

.authorcontainer{
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-left: 24px;
}

.authorcontainer2{
    color: #969bab;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    padding-left: 24px;
}

.secondbox{
    width: 50%;
    padding-top: 168px;
    padding-right: 150px;
    margin-bottom: 80px;
}

.airbnb2{
    width: 130px;
    height: 40px;
}

.card-outer2{
    margin-top: 32px;
    margin-right: 120px;
}

.page-4{

}

.page-4-inner{
    padding: 165px 80px;
    gap: 30px;
    display: flex;
}

.section-1{
    width: 49%;

}

.section-1 h1{
    color: #18191F;
    font-size: 48px;
    font-weight: 800;
    font-style: normal;
    line-height: 64px;
}

.section-1 p{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}

.section-2{
    width: 49%;
    display: flex;
}

.section-2-1{
    width: 50%;
}

.page-4-boxes{
    display: flex;
    margin-bottom: 40px;
}

.page-4-boxes-body{
    margin-left: 24px;
}

.section-2-2{
    width: 50%;
}

.page-5{
    padding-bottom: 64px;

}

.page-5-inner{
    display: flex;
}

.page-5-img{
    width: 50%;
    background-color: #f1e4ff;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.page-5-boddy{
    width: 50%;
    display: flex;
    align-items: center;

}

.page-5-boddy-inner{
    padding-right: 48px;
    padding-left: 48px;
}

.page-5-boddy h1{
    color: #18191F;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 32px;
}

.page-5-boddy p{
    color: #18191F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 32px;
}

.page-6{

}

.page-6-inner{

}

.page-6-main{
    display: flex;
    gap: 30px;
    margin-bottom: 48px;
}

.page-6-main h1{
    color: #18191F;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    
    width: 50%;
}

.page-6-main p{
    color: #18191F;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 50%;
}

.page-6-img-container img{
    width: 100%;
    margin-bottom: 60px;
    border: 2px solid red;
}